.tag-container{
    width: 13%;
    margin-top: 1%;
    background-color: #ffffff;
    cursor: pointer;
}

.tag-content{
  text-align: center;
  padding: 2%;
  border-radius: 15px 15px 0px 0px;
  font-weight: 500;
  background-image: linear-gradient(to right, rgba(210,114,255, 0.5), rgba(113,127,255, 0.5), rgba(140,255,255, 0.5), rgba(111,255, 168, 0.5), rgba(248, 243,122,0.5), rgba(255, 160, 107, 0.5), rgba(255, 96, 153, 0.5)) ;
  box-shadow: 1px 0px rgba(0,0,0,0.5);
}
